.app
  %h1 Apache Cordova
  #deviceready.blink
    %p.event.listening Connecting to Device
    %p.event.received Device is Ready
%script{src: "cordova.js", type: "text/javascript"}
%script{src: "js/index.js", type: "text/javascript"}
:javascript
  app.initialize();
